# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
dist/
.env/
.env

# Ignore other files and directories
*.log
.vscode/
logs/
build/
*.tmp
.coverage
node_modules/
package-lock.json
network_discovery/network_discovery.py
neighbors.json
network_topology.png
exec.spec
decoded_neighbors.json
snmp_discovery.json
data/*devices.json
discovery_results/
test_fix.json
cisco_switch_1.json
dell_switch_2.json
SNMP Discovery - Device Details - Cisco Switch Neighbors.csv
SNMP Discovery - Device Details - Cisco Switch Network Adaptetrs.csv
SNMP Discovery - Device Details - Cisco Switch Ports.csv
SNMP Discovery - Device Details - Cisco Switch.csv
